.bigbg {
	background:url(https://bing.ioliu.cn/v1/rand/?w=720&h=1280) no-repeat;
	width: 100vw;
	height: 100vh;
	background-size: cover;
/*	-webkit-filter: grayscale(100%); 
	-moz-filter: grayscale(100%); 
	-ms-filter: grayscale(100%); 
	-o-filter: grayscale(100%); 
	filter: grayscale(100%); 
	filter: gray; */
}
.bigbgclick {
	background:url(https://bing.ioliu.cn/v1/rand/?w=720&h=1280) no-repeat;
	width: 100vw;
	height: 100vh;
	background-size: cover;
}

.layout {
	width: 100%;
	height: 100%;
	background: rgba(0 , 0 , 0 ,.4);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.bigbg .wellknown {
	width: 4.52rem;
	height: 4.52rem;
	border: 0.04rem #fff solid;
	border-radius: 0.4rem;
	display: flex;
	justify-content: space-between;
	align-items:flex-end;
/*	background:rgba(0,0,0,.3);
*/}

.bigbg .wellknown p ,.bigbg .wellknown span {
    writing-mode: vertical-rl;/*从左向右 从zuo向you是 writing-mode: vertical-lr;*/    
    writing-mode: tb-rl;/*IE浏览器的从左向右 从zuo向you是 writing-mode: tb-lr；*/   
}

.bigbg .wellknown p {
	display: block;
	width: 3.4rem;
	height: 4.0rem;
	margin:0 .2rem 0.2rem 0 ;
	font-size: 0.36rem;
	color: #fff;
	line-height: .68rem;
	letter-spacing: .06rem;
    font-weight: 200; 
}

.bigbg .wellknown span {
	display: block;
	width: auto;
	height: auto;
	margin: .3rem 0 0.2rem 0.3rem;
	font-size: 0.28rem;
	color: #fff;
/*	color:#8c8c8c;
*/	letter-spacing: .1rem;
	font-weight:300; 
}

.logonstart {
	display: flex;
	width: 4.52rem;
	justify-content: space-between;
	align-items: center;
	margin-top: 4.52rem;
}
.logonstart p {
	font-size: 0.36rem;
	font-weight: lighter;
	color: #fff;
}
.logonstart p span {
	font-size: 0.96rem;
}

.logonstart a {
	display: block;
	width: 0.9rem;
	height: 0.9rem;
	font-size: 0.28rem;
	line-height: .9rem;
	border: 0.01rem #fff solid;
	border-radius: 50%;
	color: #fff;
	text-align: center;
}